*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
  .header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 30px;
    min-height: 25vh;
    max-height: 50vh;
    background-color: #262624;
  }
  .nav{
    width: 450px;
    display: flex;
    justify-content: space-between;
  }
  .header-link{
  font-size: 17px;
  text-decoration: none;
  color: white;
}
  .logo{
    font-size: 3vh;
  }
  .btn{
    font-size: 20px;
    border: 1px solid white;
    padding: 10px;
  }
  .btn:hover{ 
    background-color: white;
    color: #262624;
  }
 .header-link:hover{
   color: black;
 }
